<footer id="home-footer">
    <div class="footer-wrap row gy-4">
        <div class="footer-info col-xl-4 col-md-6">
            <img src="/images/site-logo-full.png" alt="" class="footer-logo">
            <p class="footer-info-desc">
                Mộc Miên đang cố gắng từng ngày để mang đến những giá trị về học thuật
                đáp ứng cho nhu cầu của mọi người, mọi nhà trên khắp Quảng Trị.
            </p>
            <p class="footer-slogan">
                Mộc Miên — "Với ngoại ngữ, mọi nơi đều là nhà."
            </p>
        </div>
        <div class="footer-contact col-xl-3 col-md-6">
            <h5 class="footer-section-title">Liên hệ</h5>
            <a href="tel:02333855868" class="footer-contact-link">
                <i class="fa-solid fa-phone"></i>
                0233.3855.868
            </a>
            <a href="tel:+8491723612" class="footer-contact-link">hoặc 091723612</a>
            <a href="mailto:tiengtrungmocmien@gmail.com" class="footer-contact-link">
                <i class="fa-solid fa-envelope"></i>
                tiengtrungmocmien@gmail.com
            </a>
            <div class="footer-contact-location">
                <i class="fa-solid fa-location-dot"></i>
                90 Lê Lợi, Phường 5, Đông Hà, Quảng Trị
            </div>
        </div>
        <div class="footer-in-link-wrap col-xl-2 col-md-6">
            <h5 class="footer-section-title">Liên kết</h5>
            <a href="/" class="footer-in-link">Trang chủ</a>
            <a href="/gioi-thieu" class="footer-in-link">Giới thiệu</a>
            <a href="/khoa-hoc" class="footer-in-link">Khoá học</a>
            <a href="/bai-viet" class="footer-in-link">Bài viết</a>
            <a href="/lien-he" class="footer-in-link">Liên hệ</a>

        </div>
        <div class="footer-follow-page col-xl-3 col-md-6">
            <h5 class="footer-section-title">Theo dõi</h5>
            <div class="fb-page" data-href="https://www.facebook.com/profile.php?id=100063150013801" data-tabs="" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/profile.php?id=100063150013801" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/profile.php?id=100063150013801">Tiếng Trung Mộc Miên - Đông Hà Quảng Trị 0869259245</a></blockquote></div>
            <div class="footer-social">
                <a href="https://www.facebook.com/profile.php?id=100063150013801" class="footer-social-link">
                    <i class="fa-brands fa-facebook-f icon-round"></i>
                </a>
                <a href="https://www.tiktok.com/@tieng_trung_moc_mien" class="footer-social-link">
                    <i class="fa-brands fa-tiktok icon-round"></i>
                </a>
                <a href="" class="footer-social-link">
                    <i class="fa-brands fa-instagram icon-round"></i>
                </a>
                <a href="" class="footer-social-link">
                    <i class="fa-brands fa-youtube icon-round"></i>
                </a>
            </div>
        </div>
        <div class="footer-separator"></div>
        <div class="footer-copyright">
            <span>Copyright © 2024 - <a href="/">tiengtrungmocmien.edu.vn</a></span>
            <span>Trung tâm Tiếng Trung Mộc Miên</span>
        </div>
    </div>

    <style>
        #home-footer {
            background-color: var(--primary-color);
            padding: 70px 156px 15px 156px;
        }

        .footer-wrap *{
            color: var(--white-color);
        }

        .footer-logo {
            width: 100%;
            margin-bottom: 20px;
        }

        .footer-info * {
            font-size: 14px;
            color: #f1f1f1;
        }

        .footer-info-desc {
            margin-bottom: 20px;
            text-align: justify;
            line-height: 1.5;
        }

        .footer-slogan {
            font-style: italic;
        }

        .footer-in-link-wrap {
            display: flex;
            flex-direction: column;
        }

        .footer-section-title {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 20px;
            position: relative;
        }

        .footer-section-title:before {
            content : "";
            display: block;
            position: absolute;
            left: 0;
            width: 80px;
            bottom: -4px;
            border-bottom: 2px solid #fff;
        }

        .footer-in-link,
        .footer-contact-link,
        .footer-contact-location {
            text-decoration: none;
            padding: 6px 0;
        }

        .footer-contact {
            display: flex;
            flex-direction: column;
        }

        .footer-social {
            display: flex;
            margin-top: 20px;
            gap: 16px;
        }

        .footer-social-link {
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }

        .footer-social-link i {
            width: 25px;
            height: 25px;
            background-color: var(--white-color);
            line-height: 25px;
            color: var(--primary-color);
        }

        .footer-separator {
            width: 100%;
            height: 1px;
            background-color: #8A8A8A;
            margin: 40px 0 15px 0;
        }

        .footer-copyright {
            font-size: 12px;
            display: flex;
            justify-content: space-between;
            text-align: center;
        }

        @media only screen and (max-width: 1024px) {
            #home-footer {
                padding: 70px 80px 15px 80px;
            }
            .footer-contact {
                justify-content: center;
            }
        }
    </style>
</footer>