<header id="home-header">
    <i class="fa-solid fa-bars home-menu-bar"></i>
    <a href="/" id="header-logo-link">
        <img src="/images/site-logo-only.png" alt="Trang chủ | Tiếng Trung Mộc Miên">
        <span>
            Tiếng Trung<br>Mộc Miên
        </span>
    </a>
    <nav class="header-nav-hidden">
        <a href="/" class="header-links-item">Trang chủ</a>
        <a href="/gioi-thieu" class="header-links-item">Giới thiệu</a>
        <a href="/khoa-hoc" class="header-links-item">Khoá học</a>
        <a href="/bai-viet" class="header-links-item">Bài viết</a>
        <a href="/lien-he" class="header-links-item">Liên hệ</a>
    </nav>
    <div class="header-contact">
        <div class="header-hotline-wrap">
            <i class="fa-solid fa-phone header-phone-icon icon-round"></i>
            <a href="tel:02333855868" class="header-hotline">0233.3855.868</a>
        </div>
        <a href="" class="header-btn-reg btn-primary">Đăng ký học</a>
    </div>
</header>